.spacer{
    height: 8vh;
}

.login-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.register-text {
    font-size: small;
}

/**/

.main-division{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 92vh;
}

.left-division{
    width: 50%;
}

.right-division{
    width: 50%;
}

.inner-left-division{
    width: 50%;
    /*transform: translateX(50%,50%);*/
    transform: translateX(50%) translateY(30%);
}

.inner-right-division{
    transform: translateY(2%);
}

.inner-left-google{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inner-left-google-1{
    font-size: 16px;
}

.welcome-to-nomdo{
    width: 500px;
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
}

.dont-have-group {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
}

.dont-have-text {
    padding-top: 20px;
    font-size: small;
}

.dont-have-link {
    padding-top: 20px;
    font-size: small;
    color: white;
    text-decoration: none;
    padding-left: 5px;
}

.login-form-button {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    background-color: #4ABDAC;
    box-shadow: 1px 1px #C4C4C4;
    color: white;
    font-size: small;
    font-weight: lighter;
}