.card-main-division{
    display: flex;
    flex-direction: row;
}

.value-and-button{
    width: 165px;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bolder;
    padding-bottom: 12px;
}

.view-data-text{
    font-size: 12px;
    color: #00B8D1;
    padding-right: 5px;
}

.view-data-arrow{
    font-size: 12px;
    color: #00B8D1;
}

.view-data-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}