.layout-container{
    display: flex;
    flex-direction: column;
    background-color: #DDFBEB;
}

.layout-top{
    border-bottom: 2px solid #C4C4C4;
}

.layout-bottom{
}

.edit-profile{
    text-align: left;
    font-size: 24px;
}

.setting-routes{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    height: 3vh;
}

.setting-routes-profile{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    text-decoration: none;
}

.setting-routes-setting{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.setting-routes-profile-icon{
    margin-left: 5px;
    margin-right: 5px;
}

.setting-routes-setting-icon{
    margin-left: 5px;
    margin-right: 5px;
}

.images-profile-background{
    justify-content: center;
    height: 80%;
    margin-top: 9%;
}

.contact-title{
    text-align: left;
    margin-top: 7%;
}

.change-password{
    text-align: left;
    margin-top: 5%;
    margin-bottom: 2%;
}

.password-div{
    text-align: left;
    margin-top: 2%;
    font-size: 12px;
}

.user-email-profile{
    text-align: left;
    margin-top: 5%;
    margin-bottom: 2%;
}

.input-area-title{
}

.form-input-profile-name{
    width: 100%
}

.form-input-profile-email{
    width: 100%
}

.task-button-profile {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}