.workspace-name-top{
    align-items: center;
    font-size: medium;
    font-weight: bold;
    width: 100%;
}

.workspace-page-title {
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.workspace-description{
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.input-area {
    display: flex;
    flex-direction: row;
}

.form-input-workspace-title {
    width: 250px;
    padding-left: 10px;
}

.form-input-workspace-description {
    width: 250px;
    padding-left: 10px;
}