@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-bar{
    text-decoration: none;
}

.nav {
    background-color: #4ABDAC;
    z-index: 1;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    height: 8vh;
    border-bottom: 2px solid #C4C4C4;
}

.nav-title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

p {
    font-family: "Roboto Condensad";
    font-size: 16px;
    font-weight: 300;
}

.nav-desc {
    height: 8vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.nav-desc-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.nav-profile {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 3vh;
    height: 30px;
    vertical-align: middle;
    background-color: white;
    color: white;
    border-radius: 20px 20px 20px 20px;
}

.nav-profile-name{
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 3px;
    color: #4ABDAC;
}

.nav-profile-arrow{
    color: #4ABDAC;
    margin-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.name-and-arrow{
    display: flex;
    flex-direction: row;
}

.nav-profile-dropdown{
    color: red;
}