.main-div-structure {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.layout-sidebar-topbar {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.sidebar {
    background-color: white;
    width: 15%;
}

.topbar {
    width: 85%;
}