.spacer{
}

.layout-1{
}

.layout-2{
}

.dash-illus{
    width: 100%;
}

.main-container{
    margin: auto;
    width: 90%;
}

.row-1-right-col{
    margin-top: auto;
    margin-bottom: auto;
}

.floating-button-home-container{
}

.floating-button-home-component{
}

.row-1-right-col-cont-1{
}

.row-1-right-col-comp-1{
    font-size: 42px;
    color: #F5F8FA;
}

.row-1-right-col-comp-2{
    font-size: 26px;
    color: #F5F8FA;
    text-align: left;
}

.tricollum-2-col{
    display: flex;
}

.overview-2-division-left-inner{
}

.overview-2-division-right-inner{
}

.total-task-1{
    background-color: #00AA92;
    width: 130px;
    margin-right: 0.4em;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    text-align: left;
}

.done-task-1{
    background-color: #E6A01B;
    width: 130px;
    margin-right: 0.4em;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    text-align: left;
}

.total-task-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0F9582;
    width: 30px;
    height: 30px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.done-task-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #C78D22;
    width: 30px;
    height: 30px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.binoted{
    background-size: 130px 130px;
}

.value-text-overview{
    font-weight: bold;
    color: #F5F8FA;
    margin-left: 10px;
}

.value-at-overview{
    font-weight: bold;
    color: #F5F8FA;
    margin-left: 10px;
    margin-bottom: 10px;
}

.see-more-details{
    color: white;
    font-style: italic;
    margin-left: 10px;
}

.overview-title{
    width: 95%;
    display: flex;
    text-align: left;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    font-size: large;
    height: 50px;
}

.workspace-container-at-dashboard{
    display: flex;
    flex-direction: column;
}

.overview-card-outer-workspace-left{
    width: 95%;
}

.overview-card-outer-workspace-right{
    width: 95%;
}

.name-and-members{
}

.name-container-dashboard{
    font-weight: bold;
    font-size: large;
}

.member-container-dashboard{
    font-size: small;
}

.details-button{
    background-color: #4ABDAC;
    width: 80%;
    border-radius: 15px 15px 15px 15px ;
    color: white
}

.date-main-container-dashboard{
    background-color: white;
    border-radius: 15px 15px 15px 15px ;
    width: 80%;
    margin: auto;
}










.spacer{
}

.workspace-title-dashboard-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.workspace-title-dashboard-1-1{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
}

.workspace-title-dashboard-1-2{
    display: flex;
    align-items: center;
}

.main-layout{
    background-color: #F5F8FA;
}

.layout-title-dashboard{
    font-size: 25px;
    font-weight: bold;
    background-color: #F5F8FA;
    margin-bottom: 20px;
}

.workspace-title-dashboard{
    font-size: larger;
}

.layout-main{
    display: flex;
    flex-direction: row;
    background-color: #F5F8FA;
}

.layout-main-left{
    width: 85em;
    display: flex;
    flex-direction: column;
    background-color: #F5F8FA;
}

.overview-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.layout-main-left-title{
    font-size: 20px;
    text-align: left;
    padding-left: 2em;
}

.layout-main-right{
    width: 40em;
    background-color: #F5F8FA;
}

.layout-boxes-overview{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-left: 2em;
    justify-content: center;
}

.images-container-income-outcome{
    display: flex;
    flex-direction: row;
}

.overview-title-group{
    display: flex;
    flex-direction: row;
}

.overview-details{
    margin: 0.2em;
    width: 50%;
    text-align: right;
    font-style: italic;
    font-size: small;
    margin: auto;
}

.outcome-overview{
    background-color: #E6A01B;
    width: 130px;
    margin-left: 0.4em;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
}

.value-at-overview{
    font-size: 25px;
    margin-top: 0.2em;
    color: #F5F8FA;
}
.dashboard-bottom{
    margin-top: 1.5em;
}

.layout-main-left-tasks-display{
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}

.layout-main-left-tasks-double{
    display: flex;
    flex-direction: column;
}

.layout-main-left-tasks{
    margin-top: 1em;
}

.member-boxes-overview{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: center;
}

.container-card-member-1{
    padding-left: 10px;
}

.card-main-division-member{
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}

.team-member-name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 1em;
}

.members-list{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.members-name-and-logo{
    display: flex;
    flex-direction: row;
    margin-left: 3em;
    margin-bottom: 0.5em;
}

.team-name{
    margin-left: 1em;
    margin-top: 4px;
    color: #00AA92;
}