.workspace-name-and-logo {
    display: flex;
    flex-direction: row;
}

.workspace-name-and-input {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.workspace-logo{
    font-size: large;
}

.workspace-name {
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.form-input-workspace-name {
    width: 250px;
    padding-left: 10px;
}

.balance-name-and-logo {
    display: flex;
    flex-direction: row;
}

.balance-name-and-input {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 18px;
}

.balance-logo{
    font-size: large;
}

.balance-name {
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.form-input-balance-name {
    width: 250px;
    padding-left: 10px;
}

.add-logo {
    font-size: large;
    padding-left: 8px;
}

.member-and-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.member-logo {
    font-size: large;
}

.member-text {
    padding-left: 10px;
    padding-top: 7px;
}

.task-button-dismiss {
    margin-left: 10px;
}

.task-button-add {
    width: 360px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}