.login-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
}

.dont-have-text {
    padding-top: 20px;
    font-size: small;
}

.register-text {
    font-size: small;
}