.workspace-name-and-input {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.board-name-and-input {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.task-name-and-input {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.description-name-and-input {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.input-area {
    display: flex;
    flex-direction: row;
}

.input-area-drop-down {
    padding-left: 10px;
}

.workspace-logo-copy {
    font-size: large;
    padding-left: 10px;
}

.workspace-name {
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.form-input-task-name {
    width: 280px;
    padding-left: 10px;
}

.datepicker-task{
    margin-left: 10px;
}