.progress-bar-form {
    display: grid;
    grid: 25px / 30% 70%;
    margin-bottom: 10px;
}

.progress-bar-title {
    font-size: large;
    font-weight: bolder;
    text-align: left;
}

.progress-bar-chart {
}