.workspace-name-and-input {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.workspace-name {
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.input-area-drop-down {
    padding-left: 10px;
    text-align: left;
}

---

.nominal-name-and-input {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.nominal-name {
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.form-input-nominal-name {
    width: 280px;
    padding-left: 10px;
}

---

.tipe-name-and-input {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.tipe-name {
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

--

.description-name-and-input {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.description-name {
    text-align: left;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.form-input-description-name {
    width: 280px;
    padding-left: 10px;
}
